.body {
	margin: 0;
}

.wrapper {
	width: 80%;
	margin: auto;
}

.header {
	display: flex;
	margin-bottom: 100px;
	justify-content: space-between;
}

.logo {
	font-size: 24px;
	line-height: 31px;
	padding: 40px 0 40px 0;
	padding-left: 44px;
	width: 190px;
	height: 35px;
	position: relative;
}

.logo__circle {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	opacity: .7;
}

.logo__circle_blue {
	border-radius: 50%;
	background: #0056EC;
}

.logo__circle_lightskyblue {
	border-radius: 50%;
	background: #C8DBFB;
	opacity: .7;
	left: 8px;
	top: 56%;
}

.menu {
	display: flex;
	align-items: center;
}

.menu__item {
	position: relative;
	font-size: 19px;
	margin-right: 26px;
	color: #000;
	text-decoration: none;
}

.menu__item:last-child {
	margin-right: 0;
}

.menu__item:after {
	position: absolute;
	display: block;
	content: "";
	left: 0;
	width: 100%;
	height: 3px;
	background: #0056EC;
	opacity: 0;
	transition: opacity .5s;
}
.menu__item:hover:after {
	opacity: 1;
}


.section {
	margin: 0;
	padding-top: 100px;
	background: url(img/Frame.svg);
	background-repeat: no-repeat;
	background-position: top 30px right;
}

.section-content {
	display: block;
	padding: 0 52% 100% 0;

}

.section-content__title {
	font-size: 66px;
	margin: 0 0 36px 0;
	max-width: 567px;
	line-height: 87px;
}

.section-content__title-text-hightlight {
  background: #ECF3FF;
}

.section-content__description {
	font-size: 22px;
	margin: 0 0 58px 0;
	max-width: 455px;
}

.section-content__button {
	font-size: 18px;
	padding: 18px 32px 16px 21px;
	color: #fff;
	background: #0056EC;
	text-decoration: none;
	border-radius: 4px;
	transition: opacity .5s;
}

.section-content__button:hover {
	opacity: .5;
}

@media (max-width: 375px) {
	.header {
		display: none;
	}
	.circle_lightskyblue {
	top: 31px;
	left: 32px;
	}
	.circle_blue {
	top: 24px;
	left: 24px; 
	}
	.section-content__title {
		font-size: 30px;
		line-height: 40px;
		width: 267px;
		height: 96px;
		top: 358px;
		left: 57px;
	}
	.section-content__description {
		width: 330px;
		height: 43px;
		top: 498px;
		left: 53px;
		font-size: 16px;
	}
	.section-content__button {
		top: 580px;
		left: 84px;
	}
}
	